---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Outro from "../components/Outro.astro";
import Layout from "../layouts/Layout.astro";

const booksCollection = await getCollection("books");
---

<Layout title="Books for Devs">
  <Header />
  <main>
    <section class="intro">
      <h1>
        <span class="text-gradient1"
          >Reading the documentation isn't enough!</span
        ><img
          class="introIllustration"
          src=`${import.meta.env.BASE_URL}icons/3d-fluency-exploding-head.png`
          alt="3D Exlopding Head Illustration"
          title="illustration from icons8.com"
        />
      </h1>
    </section>
    <Intro />
    <section class="collection">
      <h2>The 📘 Collection</h2>
      <p>
        Pick a book in any order.<br />You'll <span class="brand"
          >connect the dots</span
        > eventually.<br />
      </p>
      <p>Kindle editions too are available for most of these.</p>
      <p>
        The tag on each book marks my status with these books:<br />
        <span class="extraSmallText"
          >Read ✅, Currently Reading 👓, Next Up ⏭️, Wishlisted ⭐, and
          Recommended 👍</span
        >.
      </p>
      <ul role="list" class="booksGrid">
        {
          booksCollection.map((book) => (
            <Card
              href={book.data.amazonINLink}
              title={book.data.title}
              subtitle={book.data.subtitle}
              body={book.data.description}
              image={book.data.coverImage}
              readingStatus={book.data.readingStatus || ""}
              recommended={book.data.recommended || false}
              slug={book.slug}
            />
          ))
        }
      </ul>
      <p class="affiliateDisclaimer">
        This collection contains affiliate links. I may earn a commission should
        you make a purchase using my links.<br />Thank you for supporting me &
        my work! 😊
      </p>
    </section>
    <Outro />
  </main>
  <Footer />
</Layout>

<style>
  @reference "../styles/global.css";
  main {
    @apply mx-auto max-w-[80ch] p-6;
  }
  h1 {
    @apply text-5xl font-extrabold m-0 mb-[3em];
  }
  .introIllustration {
    @apply max-h-12 align-middle ml-6 inline;
  }
  h2 {
    @apply mb-[1em];
  }
  .affiliateDisclaimer {
    @apply rounded-[0.4rem] border border-(--grey) text-xs mx-auto mt-8 max-w-fit px-4 py-3 text-center;
  }
  .text-gradient1 {
    background-image: var(--header-gradient);
    @apply bg-clip-text text-transparent bg-size-[400%] bg-position-[0%];
  }
  .booksGrid {
    @apply grid gap-12 grid-cols-[repeat(auto-fit,minmax(25ch,1fr))] p-0 mt-12 min-w-full;
  }
  @media screen and (max-width: 450px) {
    main {
      @apply p-5;
    }
    h1 {
      @apply text-[1.625rem];
    }
    .introIllustration {
      @apply max-h-8 ml-4;
    }
  }
</style>
