---
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import Outro from '../components/Outro.astro';
import Layout from '../layouts/Layout.astro';

const booksCollection = await getCollection('books');
---

<Layout title="Books for Devs">
	<Header/>
	<main>
		<section class="intro">
			<h1><span class="text-gradient1">Reading the documentation isn't enough!</span><img class="introIllustration" src=`${import.meta.env.BASE_URL}icons/3d-fluency-exploding-head.png` alt="3D Exlopding Head Illustration" title="illustration from icons8.com" /></h1>
		</section>
		<Intro/>
		<section class="collection">
			<h2>The 📘 Collection </h2>
			<p>Pick a book in any order.<br/>You'll <span class="brand">connect the dots</span> eventually.<br/></p>
			<p>Kindle editions too are available for most of these.</p>
			<p>The tag on each book marks my status with these books:<br/> <span class="extraSmallText">Read ✅, Currently Reading 👓, Next Up ⏭️, Wishlisted ⭐, and Recommended 👍</span>.</p>
			<ul role="list" class="booksGrid">
				{booksCollection.map(book => (
					<Card href={book.data.amazonINLink} title={book.data.title} subtitle={book.data.subtitle} body={book.data.description} image={book.data.coverImage} readingStatus={book.data.readingStatus || ""} recommended={book.data.recommended || false} friendlySlug={book.data.friendlySlug} />
					))}
			</ul>
			<p class="affiliateDisclaimer">This collection contains affiliate links. I may earn a commission should you make a purchase using my links.<br/>Thank you for supporting me & my work! 😊</p>
		</section>
		<Outro/>
	</main>
	<Footer/>
</Layout>

<style>
	main {
		margin: auto;
		max-width: 80ch;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		margin-bottom: 3em;
	}
	.introIllustration {
		max-height: 3rem;
		vertical-align: middle;
		margin-left: 1.5rem;
	}
	h2 {
		margin-bottom: 1em;
	}
	.affiliateDisclaimer {
		border-radius: 0.4rem;
		border: 1px solid var(--grey);
		font-size: 0.75rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		max-width: fit-content;
		padding: 0.75rem 1rem;
		text-align: center;
	}
	@media screen and (max-width: 450px) {
		main {
			padding: 1.25rem;
		}
		h1 {
			font-size: 1.625rem;
		}
		.introIllustration {
			max-height: 2rem;
			margin-left: 1rem;
		}

	}
	.text-gradient1 {
		background-image: var(--header-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.booksGrid {
		display: grid;
		gap: 3rem;
		grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
		padding: 0;
		margin-top: 3rem;
		min-width: 100%;
	}
</style>
