---
interface Props {
  title: string;
  subtitle: string;
  body: string;
  href: string;
  image: string;
  readingStatus: string;
  recommended: boolean;
}

let tagBasedCSS = "";

const { href, title, subtitle, body, image, readingStatus, recommended } = Astro.props;

switch (readingStatus) {
  case "Read ✅":
    tagBasedCSS = "greenTag";
    break;
  case "Currently Reading 👓":
    tagBasedCSS = "blueTag";
    break;
  case "Next Up ⏭️":
    tagBasedCSS = "blueTag";
    break;
  case "Wishlisted ⭐":
    tagBasedCSS = "orangeTag";
    break;
  default:
    break;
}
---

<li class="link-card">
  <div class="bookDetails">
    {recommended ? <div class="tag yellowTag">Recommended 👍</div> : <div class={"tag " + tagBasedCSS}>{readingStatus}</div>}
    <img src={image} alt={title + " Cover"} />
    <h3>{title}<br/><span>{subtitle}</span></h3>
    <!-- <p class="bookDescription">{body}</p> -->
  </div>
  <a href={href}>Buy on Amazon.in <i class="bi bi-amazon"></i></a>
</li>
<style>
  .link-card {
    background-color: var(--bg);
    background-position: 100%;
    background-size: 100%;
    border-radius: 0.6rem;
    box-shadow:
      0 4px 12px -1px #0000001a,
      0 4px 24px -2px #0000001a;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    background-color: var(--buttonBg);
    border-radius: 0.35rem;
    color: var(--buttonText);
    display:flex;
    justify-content:space-between;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: auto;
    opacity: 0.8;
    padding: 0.75rem 1.2rem;
    text-decoration: none;
  }
  .link-card > a:hover {
    background-color: var(--buttonBgHover);
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.1;
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  h3 > span {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 0.6rem;
  }
  h3:hover {
    margin-left: 0.25rem;
    transition: all 0.15s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .bookDetails {
    top: -10%;
    position: relative;
  }
  .bookDetails img {
    border-radius: 0.4rem;
    max-height: 160px;
    max-width: 110px;
    margin-bottom: 0.5rem;
    box-shadow: var(--boxShadow);
  }
  /* .bookDescription {
    font-size: 0.75rem;
    color: var(--text);
    margin-bottom: 1rem;
    margin-top: 0;
  } */
  .link-card:is(:hover, :focus-within) {
    background-image: var(--book-card-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: var(--text);
  }
  .tag {
    background-color: var(--bg);
    border-radius: 0.75rem;
    border: 1px solid var(--buttonText);
    color: var(--buttonText);
    font-size: 0.625rem;
    padding: 0.25rem 0.625rem;
    position: absolute;
    right: -0.5rem;
    top: 1rem;
    width: max-content;
  }
  .primaryTag {
    border-color: var(--primary);
    color: var(--primary);
  }
  .blueTag {
    border-color: var(--blue);
    color: var(--blue);
  }
  .greenTag {
    border-color: var(--green);
    color: var(--green);
  }
  .yellowTag {
    border-color: var(--yellow);
    color: var(--text);
  }
  .orangeTag {
    border-color: #e9892d;
    color: #e9892d;
  }
</style>
